<h1 class="p-4 display-4">Welcome to reviewero.</h1>
<div class="p-2 col-md-10 col-sm-12">
  <p class="lead">
  
    Reviewero is a site that provides a social media platform for bookreaders.  </p>
    <p>
        Search our catalog of books to find your next favorite book. Rate and leave
    reviews on the books you read. Add books to your read and to-read list.
    </p>
  <p>
    The site is absolutely unique in it's category, as it is explicitly aiming
    to build a community of avid readers. Our aim is to create a strong bond
    between members of the community by providing communication services that
    make it easy to make friends.
  </p>
  <figure>
    <blockquote class="blockquote">
      <p>This is the best place to make bookworm friends!</p>
    </blockquote>
    <figcaption class="blockquote-footer">User</figcaption>
  </figure>
</div>
