<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">reviewero.</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
       <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="['/collection']">My Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/books']">Show All Books</a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <form class="d-flex flex-grow-1 input-group w-auto mx-2">
        <input
          type="search"
          class="form-control flex-grow-1 me-2"
          placeholder="Search books..."
          aria-label="Search"
          [(ngModel)]="searchText"
          name="searchText"
        />
        <button (click)="search()" class="btn btn-outline-secondary" type="button">
          Search
        </button>
      </form>
      <ul class="navbar-nav me-auto mx-lg-4 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" *ngIf="!isLoggedIn"
            >Log in</a
          >
          <a class="nav-link" [routerLink]="['/profile']" *ngIf="isLoggedIn"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" *ngIf="!isLoggedIn"
            >Register</a
          >
          <a
            class="nav-link"
            [routerLink]="['/login']"
            (click)="logout()"
            *ngIf="isLoggedIn"
            >Log out</a
          >
        </li>
      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
