<div class="m-2 p-2">
  <h1>{{ book.title }}</h1>
  <h5>
    by
    <a
      *ngFor="let author of book.authors"
      class="dark-link"
      (click)="onAuthorClick(author.id)"
      >{{ author.fullName }}
    </a>
  </h5>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <p>{{ book.synopsis }}</p>
      <p>
        <i> {{ book.pages }} pages </i>
      </p>
    </div>
    <div class="col-6">
      <img
        src="https://dummyimage.com/300x400/000/fff.png"
        alt="not found image"
      />
    </div>
  </div>
</div>
<form  *ngIf="!isBookAdded" class="form-inline">
  <div class="form-group mb-2">
<select
  class="browser-default custom-select"
  id="floatingSelectGrid"
  aria-label="Floating label select example"
  (selectionChange)="onSelectionChanged($event)"
  name="option"
  [(ngModel)]="state"
>
  <option *ngFor="let opt of options" [value]="opt">
    {{ opt.name }}
  </option>
</select>
<button
  class="btn btn-outline-secondary"
 
  (click)="addBook()"
>
  <fa-icon class="mr-2" [icon]="['fas', 'plus']"></fa-icon>
  Add Book
</button>
  </div>
  
</form>
<button class="btn btn-outline-secondary" *ngIf="isBookAdded" disabled>
  <fa-icon class="mr-2" [icon]="['far', 'check-circle']"></fa-icon>
  Book added
</button>