<h1 class="m-2 p-2">{{author.fullName}}</h1>
<div class=container>
    <div class="row justify-content-center">
        <div class="col-6">
            <span [innerHTML]="author.biography"></span> 
        </div>
        <div class="col-6">
            <img src="https://dummyimage.com/300x400/000/fff.png" alt="not found image" />
        </div>
      </div>
</div>
<h3 class="m-2">Books written by {{author.fullName}}:</h3>
<app-book-list (newRoute)=changeRoute($event) [books]=books></app-book-list>
