<div class="my-4 me-2">
  <h3>Search our database by books, authors and users.</h3>
</div>
<div class="container">
  <div class="row justify-content-start">
    <div class="col">
      <input
        type="search"
        class="form-control"
        placeholder="Search here..."
        aria-label="Search"
        [(ngModel)]="param"
        name="searchText"
        value="param"
      />
    </div>

    <div class="col-md-2 col-sm-12 mb-2">
      <select
        class="browser-default custom-select"
        id="floatingSelectGrid"
        aria-label="Floating label select example"
        (selectionChange)="onSelectionChanged($event)"
        name="option"
        [(ngModel)]="state"
      >
        <option *ngFor="let opt of options" [value]="opt">
          {{ opt }}
        </option>
      </select>
    </div>

    <div *ngIf="isStateBooks()" class="col-md-2 col-sm-12 mb-2">
      <select
        class="browser-default custom-select"
        (selectionChange)="onSelectionChanged($event)"
        name="opt"
        [(ngModel)]="bookFilter"
      >
        <option *ngFor="let opt of bookFilterOptions" [value]="opt">
          {{ opt }}
        </option>
      </select>
    </div>
    <div class="col-md-4 col-sm-12 mb-2">
      <button
        (click)="search()"
        class="btn btn-outline-secondary"
        type="button"
      >
        Search
      </button>
    </div>
  </div>
</div>
<div class="py-2">
<app-book-list *ngIf="currentSearchList=='Books'" (newRoute)="changeRoute($event)" [books]="books"></app-book-list>
<app-author-list *ngIf="currentSearchList=='Authors'" (newRoute)="changeRoute($event)" [authors]="authors"></app-author-list>
<app-user-list *ngIf="currentSearchList=='Users'" (newRoute)="changeRoute($event)" [users]="users"></app-user-list>

</div>
